/*Обнулення*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}




*{
    box-sizing: border-box;

}


@font-face {
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Inter-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Inter-Light.woff2') format('woff2');
}


@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Inter-Black.woff2') format('woff2');
}


html {
    font-size: calc(100vw / 1920 * 10);
}
@media (max-width: 1179px) {
    html {
        font-size: calc(100vw / 768 * 10);
    }
   }
@media (max-width: 767px) {
    html {
        font-size: calc(100vw / 500 * 10);
    }
    .main {
        flex: 0;
    }
   }
@media (max-width: 500px) {
    html {
        font-size: calc(100vw / 375 * 10);
    }
   }



a {
    text-decoration: none;
}




.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
    height: 100vh;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Inter', sans-serif;

}


/* body {
    line-height: 1;
    height: 100vh;
    
} */

body {
    line-height: 1;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: #FFFDED;
    min-height: 100vh;
}

  
  html {
    height: 100vh;
  }

.container {
    padding: 0 2rem;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFFDED;

}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}




.header__icon{
    cursor: pointer;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0;
}



.daily {
    margin: 1.8rem 0;
}

.daily__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 1.1rem;
}
.daily__content-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.daily__content-name {
    color: #F90;
font-family: Inter;
font-size: 1.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.daily__content-value {
    color: #000;
font-family: Inter;
font-size: 1.3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.daily__content-right {
    border-radius: 0.625rem;
    border: 0.0625rem solid #BDBDBD;
    padding: 0 1.6rem;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.daily__content-numb {
    color: #F90;
font-family: Inter;
font-size: 2.8rem;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.daily__content-variable {
    color: #F90;
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}




/*swiper*/
.foods__container{
    padding: 0;
}

.foods{
    /* margin-top: 4.5rem; */
    margin-bottom: 4.5rem;
}

.swiper-slide__text-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}
.swiper-slide__img-wrapper{
    height: 100%;
    width: 100%;

}
.swiper-slide__img-link{
    display: block;
    border-radius: 2rem; 
    overflow: hidden;
    height: 25rem;
    width: 100%;

}
.swiper__slide-img{
    height: 100%;
    width: 100%;
}
.swiper-slide__day {
    color: #000;
font-family: Inter;
font-size: 1.8rem;
font-style: normal;
font-weight: 500;
line-height: 2.2rem; /* 122.222% */
letter-spacing: -0.408px;
text-transform: capitalize;
}
.swiper-slide__date {
    color: #595959;
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.375rem; /* 157.143% */
letter-spacing: -0.0255rem;
}

.swiper-slide__text-bottom {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.cases__slide-title {
    color: #000;
font-family: Inter;
font-size: 1.8rem;
font-style: normal;
font-weight: 500;
line-height: 118%; /* 21.24px */
letter-spacing: -0.0255rem;
}
.cases__slide-text {
    color: #595959;
font-family: Inter;
font-size: 1.3rem;
font-style: normal;
font-weight: 300;
line-height: 118%; /* 15.34px */
letter-spacing: -0.0255rem;
margin-bottom: 1.5rem;
}
.cases__slide-text__calories {
    color: #F90;
font-family: Inter;
font-size: 1.3rem;
font-style: normal;
font-weight: 600;
line-height: 118%;
letter-spacing: -0.0255rem;
margin-right: auto;
}



/*foter navigation*/

.footer {
    margin-bottom: 1.5rem;
    position: fixed;
    /* right: 0; */
    bottom: 0;
    z-index: 3;
    max-width: 50rem;
    width: 100%;
}
.footer__container{
    position: relative;
}
.footer__navigation-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    align-items: stretch;
    /* height: 4.375rem; */
    width: 100%;
}
.footer__navigation-list.active{
    flex-wrap: wrap;
}
.footer__navigation-list__item-link--yet{
    display: none;
}
.footer__navigation-list__item-link--yet.active{
    display: block;
}

.footer__navigation-list__item-link {
    display: block;
transition: all ease .5s;

}
.footer__navigation-list__item-link.hidden{
    position: absolute;
    opacity: 0;
    transform: translateX(-100%);
}
.footer__navigation-list__item-link.active{
    position: relative;
    transition: all ease .4s;
    opacity: 1;
    transform: translateX(0);
}

.footer__navigation-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
background: #F90;
padding:  1.3rem 0.3rem 1.3rem 0.3rem;
}
.nav__wrapper.nav--less .swiper-slide {
    width: 7rem!important;
}
.nav--less .swiper-wrapper{
    justify-content: center!important;
}
.nav--less .swiper-slide:last-child{
    margin-right: 0!important;
}
.footer__navigation-list__item-value {
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 1.1rem;
font-style: normal;
font-weight: 600;
line-height: 0.2rem; /* 200% */
letter-spacing: -0.0255rem;
margin-top: auto;
}





/*single-food*/



.background__container {
    padding: 0;
}
.background__wrapper {
    position: relative;
}
.background__img {
    width: 100%;
    position: absolute;
}
.background__link {
    top: 2rem;
    position: absolute;
    left: 2rem;

}



.about {
    border-radius: 5rem 5rem 0px 0rem;
    background: #FFFDED;
    /* margin-top: 230px; */
    position: relative;
    transition: all ease .1s;
}
.about.scroll-down {
    margin-top: 0;
}

.about.scroll-up {
    margin-top: 3rem;
}
.container--single {
    padding: 4.4rem;
    
}
.about__specs {
    margin-bottom: 3rem;
}
.title {
    color: #000;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 118%; /* 28.32px */
letter-spacing: -0.0255rem;
margin-bottom: 2.6rem;
}
.about__specs-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.about__specs-list__item {
    background-color: rgba(193, 176, 176, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    padding: 1.4rem 2rem;
    border-radius: 50%;
    height: 6.9rem;
    width: 6.9rem;
}
.about__title{
    color: #000;
font-family: Inter;
font-size: 1.8rem;
font-style: normal;
font-weight: 500;
line-height: 118%; /* 21.24px */
letter-spacing: -0.0255rem;
}
.about__specs-list__item-value {
    color: #000;
font-family: Inter;
font-size: 0.9rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.about__specs-list__item-numb {
    color: #000;
text-align: center;
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.about__specs-list__item-measure {
    color: #F90;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.about__ingredients-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.9rem;
    margin-bottom: 2.9rem;
}
.about__ingredients-list__item {
 display: flex;
 gap: 3rem;
 color: #595959;
font-family: Inter;
font-size: 1.3rem;
font-style: normal;
font-weight: 300;
line-height: 118%; /* 15.34px */
letter-spacing: -0.0255rem;
}
.about__prescription {
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.about__prescription p{
    color: #595959;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 118%; /* 15.34px */
    letter-spacing: -0.0255rem;
}
.daily__content--mobile{
    display: none;
} 

 @media (min-width: 768px) {
    /* .swiper-slide__text-top{
        align-items: flex-end;
    } */
    /* .swiper-slide--food{
        width: 49rem!important;
    } */
    .daily__content{
        max-width: 59rem;
        margin: 0 auto;
    }
    .back-icon {
            width: 6.2rem;
            height: 6.2rem;
        }
    .wrapper{
        max-width: 96rem;
        height: 100vh;
    }
    .swiper-slide__img-link{
        height: 35rem;
    }
    /* .swiper-slide{
        width: 49rem!important;
    } */
    /* .swiper__slide-nav{
        width: 10.9rem!important;
         height: 10.9rem!important;
    }
    .footer__navigation-list__item-link{
        width: 10.9rem!important;
         height: 10.9rem!important;
    }
    .footer__navigation-list__item{
        padding: 2.2rem 0;
    } */
    .header__icon{
        width: 13rem;
        height: 6rem;
    }
    .header__icon--settings{
        width: 3.7rem;
height: 3.8rem;
    }
    .nav__wrapper.nav--less .swiper-slide{
        width: 10.9rem!important;

    }
    .swiper__icon{
        /* margin-top: 2rem; */
        width: 4rem;
        height: 3.5rem;
        margin-bottom: 1rem;
    }
    .footer__navigation-list__item-value{
        font-size: 1.7rem;
    }


    .footer{
        max-width: 68rem;
        left: 50%;
        right: 0;
        transform: translateX(-50%);
    }
    
    
    .swiper__slide-nav:last-child{
        margin-right: 0!important;
    }
    .daily__content-name{
        font-size: 3rem;
    }
    .daily{
        margin: 5.1rem 0;
    }
    .daily__content-value{
        font-size: 2.4rem;
    }
    .daily__content-numb{
        font-size: 5.1rem;
    }
    .daily__content-variable{
        font-size: 2.7rem;
    }
    .swiper-slide__day{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .swiper-slide__date{
        font-size: 2.5rem;
    }
    .cases__slide-title{
        font-size: 3.3rem;
    }
    .cases__slide-text{
        font-size: 2.3rem;
    }
    .cases__slide-text__calories{
        font-size: 2.7rem;
    }
    /* .wrapper{
        padding-bottom: 22.5rem;
    } */
    .main {
        height: 80vh;
    }
    .about{
        max-width: 65rem;
        margin: 0 auto;
    }
    .title{
        font-size: 4.4rem;
    }
    .about__specs-list{
        justify-content: flex-end;
    }
    .about__specs-list__item{
        width: 12.8rem;
        height: 12.8rem;
    }
    .about__specs-list__item{
        justify-content: center;
    }
    .about__specs-list__item-value{
        font-size: 1.6rem;
    }
    .about__specs-list__item-numb{
        font-size: 2.7rem;
    }
    .about__specs-list__item-measure{
font-size: 1.7rem;
    }
    .about__title{
        font-size: 3.3rem;
    }
    .about__ingredients-list__item{
        font-size: 2.4rem;
    }
    .about__prescription p{
        font-size: 2.4rem;
    }
   }
   @media (min-width: 1000px) {
    
    .wrapper{
        max-width: 194rem;
    }
    /* .foods{
        height: 100vh;
    } */
    .about{
        max-width: 90rem;
    }
    .background__img{
        /* height: 96rem; */
    }
    .main {
        height: 100%;
    }
    /* .container--single{
        height: 100vh;
    } */
    .footer{
        bottom: 0;
    }
    .header__content{
        padding-top: 3.6rem;
    }

   }
   @media (min-width: 1179px) {
    .swiper-slide__img-link{
        height: 40rem;
    }
    .daily__content{
        display: none;
    }
    .header__container{
        display: flex;
        align-items: center;
        padding-top: 3.8rem;
    }
    .daily__content--mobile{
        display: flex;
        margin: 0;
        margin-right: 26.7rem;
        width: 100.9rem;
    }
    .header__content{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .main {
        height: 100vh;
    }
    .footer{
        width: auto;
        max-width: 100%;
    }
   }
   /* @media (min-width: 890px) {
    .footer{
        max-width: 100%;
        display: flex;
        justify-content: center;
    } 

   } */
   
   /*
   @media (max-width: 25.9375rem) {
     .about__specs-list__item{
         padding: 0.575rem 0.89rem;
 
     }
     .about__specs-list__item-value{
         font-size: 0.4688rem;
     }
     .about__specs-list__item-numb{
         font-size: 0.7101rem;
     }
     .about__specs-list__item-measure{
         font-size: 0.4972rem;
 
     }
 
 }
   */
   @media screen and (max-width: 1050px) and (max-height: 1000px) and (orientation: landscape) {
    .header__content{
        padding-top: 1rem;
    }
    .daily {
        margin: 1rem 0;
    }
    .swiper-slide__img-link {
        height: 22rem;
    }
    .header__icon {
        width: 10rem;
        height: 3rem;
    }
    .header__icon--settings {
        width: 2.7rem;
        height: 2.8rem;
    }
    .daily__content-name {
        font-size: 2rem;
    }
    .daily__content-value {
        font-size: 1.7rem;
    }
    .daily__content-numb {
        font-size: 2.1rem;
    }
    .daily__content-variable {
        font-size: 1.7rem;
    }
    .swiper-slide__day {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .swiper-slide__date {
        font-size: 1.7rem;
    }
    .cases__slide-title {
        font-size: 2rem;
    }
    .cases__slide-text {
        font-size: 1.5rem;

    }
    .cases__slide-text__calories {
        font-size: 1.7rem;

    }
    .swiper-slide__text-bottom{
        margin-top: 1rem;

    }
    .swiper__icon{
        width: 3rem;
        height: 2.5rem;
    }
    .footer{
        margin-bottom: 1rem;
    }
    .cases__slide-text{
        margin-bottom: 0;
    }
    .daily__content-left{
        gap: 0.5rem;
    }
    .footer__navigation-list__item {
        padding: 0.5rem 0.3rem 1.3rem 0.3rem;
    }
    .footer__navigation-list__item{
        gap: 0.5rem;
    }
    .footer__navigation-list__item-value {
        font-size: 1.5rem;
    }
}
